body{
    animation-name: glow;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

@keyframes glow{
    0%{background-color: rgba(0, 140, 255, 0.5);}
    20%{background-color: rgb(170, 215, 253);}
    40%{background-color: cornflowerblue;}
    60%{background-color: rgb(163, 197, 241);}
    80%{background-color: royalblue;}
    100%{background-color: rgba(0, 140, 255, 0.5);}
}

#header{
    font-family: 'Imperial Script', cursive;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 20px;
    border-bottom-color: aliceblue;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    transition:transform 0.3s, border-bottom-width 0.3s;
}

#header:hover{
    transform: translateY(10px);
    border-bottom-width: 1px;
}

.test_image{
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 30px;
    border: 10px solid white;
    font-family: 'Katibeh', cursive;
    padding-left: 50px;
    margin-left: -20px;
    font-size: 40px;
    margin-bottom: 50px;
}

.output_holder{
    margin-bottom: 20px;
}

ol{
    margin-bottom: 30px;
}

.footer{
    font-size: xx-large;
    font-family: cursive;
    bottom: 0;
    position: fixed;
    text-shadow: 2px 2px 4px rgb(100, 100, 100);
    text-align: center;
    background-color: rgba(240, 248, 255, 0.233);
    width: 110%;
    margin-left: -30px;
}

.image_src{
    text-align: center;
    width: 400;
    border-radius: 20px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.image_src:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px grey;
}

.conclusion{
    border-radius: 30px;
    font-family: 'Tangerine', cursive;
    padding-left: 50px;
    margin-left: -20px;
    font-size: 40px;
    margin-bottom: 50px;
    color: azure;
}

span{
    color: blueviolet;
}